# TODO: THIS FILE IS A TEMPLATE AND SHOULD BE CUSTOMIZED TO FIT THE REPOSITORY'S
#       NEEDS. PLEASE REVIEW AND MODIFY AS NECESSARY BEFORE USING IT.

# ============================================================================ #
#                                  Code Owners                                 #
# ============================================================================ #
# This repository is maintained by the OctalMesh teams listed below.           #
# Please direct any issues or pull requests to the appropriate team.           #
#                                                                              #
# Team Assignments:                                                            #
# - @OctalMesh/core:        Policies, contribution guidelines, and licensing   #
# - @OctalMesh/development: Default code owners for all files                  #
# ============================================================================ #

# Default code owners for all files
* @OctalMesh/development

# Policies, contribution, and licensing
CODE_OF_CONDUCT*.md @OctalMesh/core
CONTRIBUTING*.md    @OctalMesh/core
LICENSE*.md         @OctalMesh/core
SECURITY*.md        @OctalMesh/core
SUPPORT*.md         @OctalMesh/core
